body{
    margin-top: 60px;
    margin-bottom: 160px;
    background-color: black;
    color: #9d9d9d;
}

.alert{
    margin: 15px;
}

section{
    padding: 5px;
}
ul.slider-set{
    list-style: none;
}
ul.slider-set li{
    list-style: none;
    display: block;
}

ul.slider-set li h4{
    display: block;
    float: left;
}
button{
    color: black;
}
.chanid{
    float: right;
}

.edit-link{
    float: right;
    margin-left: 5px;
}

.list-group, .list-group-item{
    background-color: black;
    border-color: #2f2f2f;
}

p.input-title{
    width: 100px;
}

.input-group{
    width: fill;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
}
.form-control{
    background-color: #181818;
    border-color: #2f2f2f;

}

.input-group-addon{
    background-color: black;
    border-color: #2f2f2f;

}
.footer {
  position: fixed;
  /*padding: 10px;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: black;
}

form{
    margin: 15px;
}
