{% extends "layout.html" %}
{% block body %}
<script>
// gen list of each type in stack, add onchange for each of them
// on change send msg to the api
// TODO: add in footer for the bpm and the fadetime each with their own onchange

//alert("Death");
var fadetime = 0;


function sendChannel(chanid) {
    fadetime = document.getElementById('fadetime-input-range').value;
    var value = document.getElementById("chan-"+chanid).value;
    //alert("api/channel/"+ chanid +"/value/"+ value + "/fade/" + fadetime);
    var url = "api/channel/"+chanid+"/value/"+value+"/fade/"+fadetime;
    httpGetAsync(url);
    //$.get(url);
}

function sendScene(sceneid) {
    fadetime = document.getElementById('fadetime-input-range').value;
    var value = document.getElementById("scene-"+sceneid).value;
    //var value = 0;
    var url = "api/scene/"+sceneid+"/value/"+value+"/fade/"+fadetime;
    httpGetAsync(url)
}

function sendStack(stackid) {
    fadetime = document.getElementById('fadetime-input-range').value;
    var value = document.getElementById("stack-"+stackid).value;
    var url = "api/stack/"+stackid+"/value/"+value+"/fade/"+fadetime;
    httpGetAsync(url);
}

function httpGetAsync(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", theUrl, true); // true for asynchronous
    xmlHttp.send(null);
}

function sendBpm(){
    var bpm = document.getElementById('bpm-input-range').value;
    httpGetAsync("/api/bpm/"+bpm);

}

function sendFade(){
    fadetime = document.getElementById('fadetime-input-range').value;
    httpGetAsync("/api/fade/"+fadetime);
}
//sendChannel(1);
</script>

<section id="channels" class="col-lg-4 col-md-6 col-sm-12">
    <h2> Channels </h2>
    <ul class="slider-set list-group">
        {% for channel in channels %}
            <li class="list-group-item">
                <h4>{{ channel.cname }}
                    {% if channel.category %}
                        <span class="category label label-primary">{{ channel.category }}</span>
                    {% endif %}
                </h4>
                <a href="/edit/channel/{{channel.cid}}"  ><span class="edit-link label label-primary">Edit</span></a>
                <a href="/delete/channel/{{channel.cid}}"><span class="edit-link label label-primary">Delete</span></a>
                <span class="chanid label label-info"> {{ channel.cnumber }} </span>
                <input id="chan-{{channel.cid}}" type="range" value="0" min="0" max="255" onchange="sendChannel( '{{ channel.cid }}' )">
            </li>
        {% else %}
          <li><em>No channels.</em>
        {% endfor %}
    </ul>
</section>

<section id="scenes" class="col-lg-4 col-md-6 col-sm-12">
    <h2> Scenes </h2>

    <ul class="slider-set list-group">
        {% for scene in scenes %}
            <li class=list-group-item>
                <h4>{{ scene.sname }}
                    {% if scene.category %}
                        <span class="category label label-primary">{{ scene.category }}</span>
                    {% endif %}
                </h4>
                <a href="/edit/scene/{{scene.sid}}"  ><span class="edit-link label label-primary">Edit</span></a>
                <a href="/delete/scene/{{scene.sid}}"><span class="edit-link label label-primary">Delete</span></a>
                <input id="scene-{{scene.sid}}" type="range" value="0" min="0" max="255" onchange="sendScene('{{scene.sid}}')">
            </li>
        {% else %}
          <li><em>No scenes so far.</em>
        {% endfor %}
    </ul>

</section>

<section id="stacks" class="col-lg-4 col-md-6 col-sm-12">
    <h2> Stacks </h2>
    <ul class="slider-set list-group">
        {% for stack in stacks %}
            <li class=list-group-item>
                <h4>{{ stack.stname }}
                    {% if stack.category %}
                        <span class="category label label-primary">{{ stack.category }}</span>
                    {% endif %}
                </h4>
                <a href="/edit/stack/{{stack.stid}}"  ><span class="edit-link label label-primary">Edit</span></a>
                <a href="/delete/stack/{{stack.stid}}"><span class="edit-link label label-primary">Delete</span></a>
                <input id="stack-{{stack.stid}}" type="range" value="0" min="0" max="255" onchange="sendStack('{{stack.stid}}')">
            </li>
        {% else %}
          <li><em>No stacks so far.</em>
        {% endfor %}
    </ul>
</section>
<footer class="footer">
    <div class="col-md-6 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon input-title" id="basic-addon2"><p class=input-title >BPM:</p></span>
            <input type="text" class="form-control" placeholder="Beats Per minute" aria-describedby="basic-addon2" value={{bpm}} onchange="sendBpm()"
            id="bpm-input-text" oninput="getElementById('bpm-input-range').value = this.value">

            <input id="bpm-input-range" class="form-control" type="range" value="{{bpm}}" min="30" max="190" onchange="sendBpm()" oninput="getElementById('bpm-input-text').value = this.value">

        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon input-title" id="basic-addon2"><p class=input-title >Fadetime (seconds):</p></span>
            <input type="text" class="form-control" id="fadetime-input-text" placeholder="Fadetime" aria-describedby="basic-addon2" value={{fadetime}} onchange="sendFade()"
            oninput="getElementById('fadetime-input-range').value = this.value * 1000">

            <input class="form-control" id="fadetime-input-range" type="range" value="{{fadetime}}" min="0" max="30000" onchange="sendFade()" oninput="getElementById('fadetime-input-text').value = (this.value/1000)">
        </div>
    </div>
</div>
{% endblock %}
