<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title> Eli-DMX </title>
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">ELi-DMX</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/edit/channel/new">New Channel</a></li>
                        <li><a href="/edit/scene/new">New Scene</a></li>
                        <li><a href="/edit/stack/new">New Stack</a></li>
                        <li><a href="#" onclick="addCategory()">New Category</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </nav>
        {% endblock %}
        <main>
            {% for message in get_flashed_messages() %}
              <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        </main>
        <script>
            function addCategory(){
                var catName = prompt("Category name:")
                if(confirm('Confirm: Create Category '+ catName)){
                    httpGetAsync("/addcat/"+catName)
                    alert("Category has been created")
                    window.location.reload();
                }else{
                    alert("Category not created")
                }
            }
            function httpGetAsync(theUrl)
            {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", theUrl, true); // true for asynchronous
                xmlHttp.send(null);
            }

        </script>
        <script src="{{ url_for('static', filename='jquery-2.2.3.min.js')}}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
